@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body {
  background-color: #0F0B19;
  color: white;
}

h1 {
  font-size: calc(25px + 2vw);
}

.main-view {
  margin-top: 10vh;
}