.homeScreenStyle {
    text-align: center;
}

.diagonalLine {
    transform: rotate(-45deg);
}

.titleStyle {
    margin-top: 10%;
}

body {
    background-image: url(../assets/home_wallpaper.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}