.navbar {
    height: 10vh;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-size: calc(4px + 2vmin);
    font-family: 'Red Hat Display', sans-serif;
    overflow: hidden;
    position: fixed;
    width: 100%;
}
.linkStyle {
    text-decoration: none;
    color: white;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
    transition: all .4s ease-in-out;
}

/* 
Using transition, transform and the 'on hover' hook on 
the NavBar, I adjust it size.    
*/

.linkStyleHover {
    text-decoration: none;
    cursor: default;
    font-family: 'Montserrat', sans-serif;
    color: white;
    transition: 0.3s;
    transform: scale(1.2);
}