.navbar {
    height: 6%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-size: calc(1em + 1vm);
    font-family: 'Red Hat Display', sans-serif;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    background-color: #50C8DC;
    z-index: 2;
}

.linkStyle {
    text-decoration: none;
    color: white;
    transition: 0.5s;
    font-family: 'Montserrat', sans-serif;
    transition: all .4s ease-in-out;
}

/* 
Using transition, transform and the 'on hover' hook on 
the NavBar, I adjust it size.    
*/

.linkStyleHover {
    text-decoration: none;
    cursor: default;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    padding-top: 0.5%;
    padding-left: 1.2%;
    padding-right: 1.2%;
    padding-bottom: 0.5%;
    color: #327A8B;
    transition: 0.4s;
    transform: scale(1.1);
    border-radius: 0.5vh;
}